package components

templ Header() {
    <header class="top-0 left-12 absolute text-black p-4">
        <div class="flex items-center justify-between gap-2">
            <nav class="flex space-x-4">
                <a href="/" class="hover:text-gray-300 text-4xl"><i class="fa fa-home"></i></a>
                <a href="/profile" class="hover:text-gray-300 text-3xl font-bold"><i class="fa fa-male"></i></a>
            </nav>
        </div>
    </header>
}