package notfound

templ Show() {
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="flex flex-col justify-center items-center min-h-screen">
        <h1 class="text-3xl text-red-400">User not found.</h1>
    </body>
}