package register

import "github.com/szymon676/codehund/views/components"

templ Show() {
    @components.Header()
    @components.Head()
    <body class="bg-white text-black flex flex-col justify-center items-center min-h-screen">
        <div class="max-w-md mx-auto p-8 bg-gray-100 shadow-lg rounded-xl">
            <h1 class="text-2xl font-semibold mb-4">Register your account</h1>
            @components.RegisterForm()
        </div>
    </body>
}
